<%- include partials/header %>

<main>
  <section class="hero">
    <div class="overlay-empty"></div>
     
    <div class="container">
        <div class="onboarding-wrapper">
            <div class=" add-income">
                <div class="img-wrapper">
                    <img src="/images/angel-investor-abstract-concept_335657-3046.png" alt="">
                </div>
                <div class="content">
                    <h2>Add your income at your fingertip</h2>
                    <a href="">
                        <button>Add Income</button>
                    </a>
                </div>
            </div>
            <div class=" add-expense">
                <div class="img-wrapper">
                    <img src="/images/credit-card-landing-page-payment-concept_23-2148298750.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Add your expense at your fingertip</h2>
                    <a href="">
                        <button>Add Expense</button>
                    </a>
                </div>
            </div>
            <div class="add-expense">
                <div class="img-wrapper">
                    <img src="/images/isometric-business-financial-icons-set_1284-36735.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Add your expense at your fingertip</h2>
                    <a href="">
                        <button>View Portfolio</button>
                    </a>
                </div>
            </div>
        </div>
  </section>
  
</main>

<%- include partials/footer %>
