<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/36e351b577.js" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Expense Tracker | Home Page</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="row-1-wrapper">
                <div class="logo">
                    <a href="/">
                        Expense Tracker
                    </a>
                </div>
                <nav class="navigation">
                    <ul class="nav-list">
                        <% if(user){ %>
                            <li>
                                <% if(user.providers.includes('github')){ %>
                                    <%= user.github.name %>
                                <% } else if(user.providers.includes('google')){ %>
                                    <%= user.google.name %>
                                <% } else { %>
                                    <%= user.local.name %>
                                    
                                <% } %>
                            </li>
                            <li>
                                <a href="/users/addincome">
                                    <button>
                                        Add Income
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="/users/addexpense">
                                    <button>
                                        Add Expense
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="/users/logout">
                                    <button>
                                        Log Out
                                    </button>
                                </a>
                            </li>
                        <% } else { %>
                            <li>
                                <a href="/users/login">
                                    <button>
                                        Log-In
                                    </button>
                                </a>
                            </li>
                            <li>
                                <a href="/users/signup">
                                    <button>
                                        Sign-Up
                                    </button>
                                </a>
                            </li>
                        <% } %>
                        
                    </ul>
                </nav>
            </div>
        </div>
        
    </header>
